.form-calculator1{
    display: block;
}
.form-calculator2{
    display: none;
}
.calculator1-result{
    display: none;
}
.calculator2-result{
    display: none;
}
.calculator1-button{
    display: none;
}
.calculator2-button{
    display: block;
}
